/* CSS file placeholder. */
* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

::selection {
  background: rgba(0,0,0,0);
}

.contents {
  height: 250px;
  padding: calc(50vh - 250px) 10% 0 10%;
  text-align: justify;
}

.clock {
  font-family: 'Myriad Set Pro';
  font-size: 100px;
  width: 100%;
  text-align: right;
  color: rgb(255,255,255);
}

.time {
	box-sizing: border-box;
  font-family: 'Myriad Set Pro','HelveticaNeue-UltraLight';
  font-weight: 100;
  font-size: 200px;
  width: 100%;
  text-align: center;
  color: rgb(255,255,255);
  letter-spacing: 20px;
  padding-left: 20px;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  width: calc(100% / 3);
  float: left;
}

.days {
  font-size: 30px;
  display: block;
	text-indent: 2em;
  letter-spacing: 2em !important;
  text-align: center;
  margin: 0 !important;
  font-weight: bold;
  padding: 20px 0 20px 0;
  background: rgba(255,255,255,.3);
  line-height: 2em;
}

.background {
  position: fixed;
  z-index: -1;
  width: 240vmin;
  margin: -10px;
  -webkit-filter: blur(15px);
  clear: both;
}

.r {
  float: left;
  text-align: center;
  display: block;
  color: rgb(255,255,255);
  width: calc( 100% / 3);
  font-weight: bold;
  font-family: 'Myriad Set Pro';
  letter-spacing: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 20px;
}

.wrapper {
  clear: both;
}

footer {
  font-family: 'Skia','Myriad Set Pro';
  position: fixed;
  color: rgb(255,255,255);
  bottom: 10px;
  right: 10px;
  display: block;
  text-align: right;
  width: 100%;
  letter-spacing: .3em;
}